# Regression and Other Stories: Earnings
Predict respondentsâ€™ yearly earnings using survey data from 1990. See Chapters 6, 9 and 12 in Regression and Other Stories.

*Note* Not at Chapter 9 or 12 yet

In [4]:
import arviz as az
from bambi import Model
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [5]:
np.random.seed(0)

In [6]:
earnings = pd.read_csv("https://raw.githubusercontent.com/avehtari/ROS-Examples/master/Earnings/data/earnings.csv")
earnings.head()

,height,weight,male,earn,earnk,ethnicity,education,mother_education,father_education,walk,exercise,smokenow,tense,angry,age
0,74,210.0,1,50000.0,50.0,White,16.0,16.0,16.0,3,3,2.0,0.0,0.0,45
1,66,125.0,0,60000.0,60.0,White,16.0,16.0,16.0,6,5,1.0,0.0,0.0,58
2,64,126.0,0,30000.0,30.0,White,16.0,16.0,16.0,8,1,2.0,1.0,1.0,29
3,65,200.0,0,25000.0,25.0,White,17.0,17.0,NaN,8,1,2.0,0.0,0.0,57
4,63,110.0,0,50000.0,50.0,Other,16.0,16.0,16.0,5,6,2.0,0.0,0.0,91

In [9]:
n = earnings.shape[0]


# Not sure why Aki has this here but copying
height_jitter_add = stats.uniform(-.2, .2).rvs(n)

In [11]:
model = Model(earnings)
results = model.fit('earnk ~ height', samples=1000, chains=4)

Auto-assigning NUTS sampler...
INFO:pymc3:Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
INFO:pymc3:Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (4 chains in 4 jobs)
INFO:pymc3:Multiprocess sampling (4 chains in 4 jobs)
NUTS: [earnk_sd, height, Intercept]
INFO:pymc3:NUTS: [earnk_sd, height, Intercept]

Sampling 4 chains for 1_000 tune and 1_000 draw iterations (4_000 + 4_000 draws total) took 15 seconds.
INFO:pymc3:Sampling 4 chains for 1_000 tune and 1_000 draw iterations (4_000 + 4_000 draws total) took 15 seconds.
The acceptance probability does not match the target. It is 0.8920460758398808, but should be close to 0.8. Try to increase the number of tuning steps.
WARNING:pymc3:The acceptance probability does not match the target. It is 0.8920460758398808, but should be close to 0.8. Try to increase the number of tuning steps.
The number of effective samples is smaller than 25% for some parameters.
INFO:pymc3:The number of effective samples is smaller than 25% for some parameters.
/opt/conda/lib/python3.8/site-packages/arviz/data/io_pymc3.py:85: FutureWarning: Using `from_pymc3` without the model will be deprecated in a future release. Not using the model will return less accurate and less useful results. Make sure you use the model argument or call from_pymc3 within a model context.
  warnings.warn(

In [12]:
func_dict = {"Median": np.median,
            "MAD_SD":stats.median_abs_deviation,
             }
coefs = az.summary(results, stat_funcs=func_dict, extend=False, round_to=2)
coefs

              Median  MAD_SD
Intercept[0]  -84.25    6.08
height[0]       1.58    0.09
earnk_sd       21.73    0.25

### Plot linear model draws

In [ ]:
# TODO

### Plot linear model draws with x-axis extended to 0

In [ ]:
# TODO

### Predict earnings in thousands dollars

In [13]:
earnings["earnk"] = earnings["earn"]/1000
model = Model(earnings)
results = model.fit('earnk ~ height + male', samples=1000, chains=4)

Auto-assigning NUTS sampler...
INFO:pymc3:Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
INFO:pymc3:Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (4 chains in 4 jobs)
INFO:pymc3:Multiprocess sampling (4 chains in 4 jobs)
NUTS: [earnk_sd, male, height, Intercept]
INFO:pymc3:NUTS: [earnk_sd, male, height, Intercept]

Sampling 4 chains for 1_000 tune and 1_000 draw iterations (4_000 + 4_000 draws total) took 25 seconds.
INFO:pymc3:Sampling 4 chains for 1_000 tune and 1_000 draw iterations (4_000 + 4_000 draws total) took 25 seconds.
/opt/conda/lib/python3.8/site-packages/arviz/data/io_pymc3.py:85: FutureWarning: Using `from_pymc3` without the model will be deprecated in a future release. Not using the model will return less accurate and less useful results. Make sure you use the model argument or call from_pymc3 within a model context.
  warnings.warn(

In [14]:
coefs = az.summary(results, stat_funcs=func_dict, extend=False, round_to=2)
coefs

              Median  MAD_SD
Intercept[0]  -26.14    8.01
height[0]       0.65    0.12
male[0]        10.61    0.98
earnk_sd       21.41    0.24

for plotting scale back to dollar scale

In [15]:
coefs*1000

               Median  MAD_SD
Intercept[0] -26140.0  8010.0
height[0]       650.0   120.0
male[0]       10610.0   980.0
earnk_sd      21410.0   240.0

### Plot linear model, ggplot version

In [ ]:
# TODO

### Plot extrapolation, ggplot version

In [ ]:
# TODO

### The rest of the chapter

In [ ]:
# TODO